<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %highlight{[%p] - [%d{dd/MM/yyyy - HH:mm:ss}] - [%c{1}:%L] - %m%n}{FATAL=red bold, ERROR=red, WARN=yellow bold, INFO=white, DEBUG=blue, TRACE=blue}
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.flex" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="off">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>